<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page1</title>
</head>
<body>
   {{> header}}
   <h2>{{screamIt welcome}}</h2>
   <p>Some text here123</p>
   {{> footer}}
</body>
</html>